* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}

header {
  background-color: gray;
}

header h1 {
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: none;
  list-style: none;
}
